<!DOCTYPE html>
<html>
  <head>
    <title>Add Product</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/products">Product List</a></h3>
      <h1>Add New Product</h1>
      <form action="/products/save" method="post">
        <table>
          <tbody>
            <tr>
              <td>Name</td>
              <td><input type="text" name="name" /></td>
            </tr>
            <tr>
              <td>Description</td>
              <td><textarea name="des"></textarea></td>
            </tr>
            <tr>
              <td>Category</td>
              <td><input type="text" name="category" /></td>
            </tr>
            <tr>
              <td>Price</td>
              <td><input type="number" name="price" /></td>
            </tr>
            <tr>
              <td colspan="2"><input type="submit" value="Save" /></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>